<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gold Property</title>
    
    <link rel="shortcut icon" href="assets/images/favicon.png" />

    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
</head>
<body>
    @*Account settings*@
    <div id="myAccount" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Update your profile <span class="spanId"></span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <span class="hideSection" id="userId"></span>
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="userName" placeholder="Name" />
                            <span class="hideSection" id="preUserName"></span>
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" class="form-control" id="userEmail" placeholder="Email" disabled />
                            <span class="hideSection" id="preUserEmail"></span>
                        </div>
                        <div class="form-group hideGender">
                            <label for="Gender">Gender</label>
                            <div class="userGender">
                                <select class="form-control" id="userGenders">
                                    <option value="2">Female</option>
                                    <option value="1">Male</option>
                                </select>
                            </div>
                            @*<input type="text" class="form-control" id="userGender" placeholder="Gender" />*@
                            <span class="hideSection" id="preUserGender"></span>
                        </div>
                        <div class="form-group">
                            <label for="DateofBirth">Date of Birth</label>
                            <input type="text" class="form-control" id="userDateofBirth" />
                        </div>
                        <div class="form-group">
                            <label for="CreatedOn">Created On</label>
                            <input type="text" class="form-control" id="userCreatedOn" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" id="updateUser" value="Update" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo">Global Change Form</a>
                <a class="sidebar-brand brand-logo-mini"><h2>G</h2></a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="~/assets/images/favicon.png" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">@Session["userName"]</h5>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small" id="openAccountModal" data-toggle="modal" data-target="#myAccount">Account settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <span class="addMenus">
                </span>
                @*<li class="nav-item menu-items">
                          <a id="dashboard" class="nav-link" href="">
                              <span class="menu-icon">
                                  <i class="mdi mdi-speedometer"></i>
                              </span>
                              <span class="menu-title">Dashboard</span>
                          </a>
                    </li>*@
            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" style="color:white;" href="#"><h1>G</h1></a>
                    @*<a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>*@
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="assets/images/favicon.png" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">@Session["userName"]</p>
                                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p id="logout" class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    <!-- Main content - Starts -->
                    @RenderBody()
                    <!-- Main content - Ends -->
                    <!-- partial:partials/_footer.html -->
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*SyncFusion datepicker*@
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <link href="~/assets/SyncFusion/material.css" rel="stylesheet" />

    <script type="text/javascript">
        //SyncFusion date picker
        var datepicker = new ej.calendars.DatePicker({ width: "255px", color: "red", format: "MM/dd/yyyy" });
        datepicker.appendTo('#userDateofBirth');

        $('#logout').click(function () {
            window.location.href = "/Auth/Logout";
        });

        //Update project items here
        $('#updateUser').click(function () {
            var aUserDetails = {};

            var res = validate();
            if (res == true) {

                aUserDetails.UserName = $("#userName").val();
                aUserDetails.Gender = parseInt(0);
                aUserDetails.DateOfBirth = $("#userDateofBirth").val();

                $.ajax({
                    type: "POST",
                    url: "/User/UpdateUsers",
                    data: JSON.stringify({ aUserDetails }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (value) {
                        alert(value);
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

            } else {
                alert("Please! Fill up all fields.");
            }
        });

        //Open modal on click
        $('#openAccountModal').click(function () {
            $.ajax({
                url: "/User/GetUsers",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (users) {
                    if (users != null || users != "") {

                        $.each(users, function (i, user) {
                            $("#userName").val(user.UserName);
                            $("#userEmail").val(user.Email);
                            //$("#userGender select").val(user.UserType);
                            $('.userGender select').val(0);
                            $("#userDateofBirth").val(getFormattedDate(user.DateOfBirth));
                            $("#userCreatedOn").val(getFormattedDate(user.CreatedOn));
                        })
                    }
                },
                error: function (er) {
                    //alert(er);
                }
            });
        });

        //Hide modal on click
        $("#closbtn").click(function () {
            $('#openAccountModal').modal('hide');
        });

        function getFormattedDate(date) {
            var dt = new Date(parseInt(date.replace("/Date(", "").replace(")/", ""), 10))
            var date = new Date(Date.parse(dt));

            return ('0' + (date.getMonth() + 1)).slice(-2) + "/" + ('0' + date.getDate()).slice(-2) + "/" + date.getFullYear();
        }

        //Validation
        function validate() {
            var isValid = true;

            if ($('#userName').val().trim() == "") {
                $('#userName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#userName').css('border-color', 'lightgrey');
            }
            if ($('#userEmail').val().trim() == "") {
                $('#userEmail').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#userEmail').css('border-color', 'lightgrey');
            }

            return isValid;
        }

        GetAllMenus();

        //Get all menus
        function GetAllMenus() {
            var html = "";

            $.ajax({
                url: "/Menus/GetAllMenus",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (menus) {
                    if (menus != null || menus != "") {

                        $.each(menus, function (i, menu) {
                            html += "<li class='nav-item menu-items'>" +
                                    "<a id='" + menu.MenuId + "' class='nav-link click-link' href='#'>" +
                                    "<span class='menu-icon'>" +
                                    "<i class='" + menu.MenuIcon + "'></i>" +
                                    "</span>" +
                                    "<span class='menu-title'>" + menu.MenuName + "</span>" +
                                    "</a>" +
                                    "</li>";
                        })
                    }

                    $(".addMenus").append(html);

                    $('.click-link').click(function () {
                        CheckSession();

                        $("#result").empty();

                        var id = $(this).attr("id");

                        $("#result").load('@Url.Action("LoadPartialView", "Dashboard")', { passVal: id });
                        $(".nav-link").removeAttr('href');
                    });
                },
                error: function (er) {
                    //alert(er);
                }
            });
        }

        function CheckSession() {
            var val = false;
            $.ajax({
                type: "GET",
                url: "@Url.Action("SessionInfo", "Dashboard")"
            }).done(function (data) {
                if (data === true) {
                    alert("Your session expired! Please login again.");
                    window.location.href = "@Url.Action("Login", "Auth")";
                }
            }).fail(function (e) {
                alert('Error');
            });
        }
    </script>
</body>
</html>