@model IEnumerable<GppApp.DbContext.Projects>
@{
    ViewBag.Title = "Project Details";
}

<style>
    .hideSection {
        display: none;
    }

    .mdi-history::before, .alignText {
        font-size: 20px;
        text-align: center;
    }
</style>

<div class="page-header">
    <h3 class="page-title">Project Details</h3>
    <a id="openModal" class="btn btn-primary" data-toggle="modal" data-target="#myProjects">Add Project</a>
</div>

@*Add Projects*@
<div id="myProjects" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add Project Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group frmProjectId">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" id="projectId" placeholder="Id" />

                        <span class="hideSection" id="preProjectId"></span>
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="projectName" placeholder="Name" />

                        <span class="hideSection" id="preProjectName"></span>
                    </div>
                    <div class="form-group">
                        <label for="Reference">Job Reference</label>
                        <input type="text" class="form-control" id="projectRef" placeholder="Job Reference" />

                        <span class="hideSection" id="preProjectRef"></span>
                    </div>
                    <div class="form-group">
                        <label for="Details">Details</label>
                        <input type="text" class="form-control" name="editor1" id="editor1" placeholder="Details" />

                        <span class="hideSection" id="preEditor1"></span>
                    </div>
                    <div class="form-group hideThisStatus">
                        <label for="Status">Status</label>
                        <input type="checkbox" class="form-control" id="addStatus" />
                    </div>
                    <div class="form-group">
                        <label for="CreatedOn">Created On</label>
                        <input type="text" class="form-control" id="projectCreatedOn" />

                        <span class="hideSection" id="preProjectCreatedOn"></span>
                    </div>
                </form>
                <span id="createdBy" class="hideSection"></span>
                <span id="status" style="display:none;"></span>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" id="addData" value="Add" />
                <input type="button" class="btn btn-default" id="updateData" value="Update" />
            </div>
        </div>
    </div>
</div>

@*Show Project History*@
<div id="myProjectsHistory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Project Update History</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="projectsHistory"></div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card overrideCard">
            <div class="card-body">
                <div id="projects"></div>
            </div>
        </div>
    </div>
    <div class="hide">

    </div>
</div>

<script src="~/ckeditor/ckeditor.js"></script>
<script>
    //Hide modal initially
    $('#myProjects').modal('hide');
    $('#updateData').hide();
    $('.frmProjectId').hide();
    $('.hideThisStatus').hide();

    //Open modal on click
    $('#openModal').click(function () {
        CheckSession();

        $("#projectId").prop("disabled", false);
        $('#projectId').val('');

        $('.frmProjectId').hide();

        //Initialize CKEditor by giving id of text area
        CKEDITOR.replace('editor1');

        //Get each instance of CKEditor
        for (instance in CKEDITOR.instances) {
            //update element
            CKEDITOR.instances[instance].updateElement();
        }

        CKEDITOR.instances['editor1'].setData('');
        $('#projectName').val('');
        $('#projectRef').val('');
        $('#projectCreatedOn').val('');

        $('#updateData').hide();
        $('#addData').show();
        $('#myProjects').modal('show');
        $('.hideThisStatus').hide();
    });

    //Hide modal on click
    $("#closbtn").click(function () {
        CheckSession();

        $('#myProjects').modal('hide');
    });

    //SyncFusion date picker
    var datepicker = new ej.calendars.DatePicker({ width: "255px", color: "red", format: "MM/dd/yyyy" });
    datepicker.appendTo('#projectCreatedOn');

    //CKEditor
    //Initialize CKEditor by giving id of text area
    //CKEDITOR.config.width = 800;
    CKEDITOR.replace('editor1');

    //Get each instance of CKEditor
    for (instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
    }

    GetProjectDetails();

    //Add project details here
    $('#addData').click(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("SessionInfo", "Dashboard")"
        }).done(function (data) {
            if (data === true) {
                alert("Your session expired! Please login again.");
                window.location.href = "@Url.Action("Login", "Auth")";
            } else {
                var aProject = {};

                var res = validate();
                if (res == true) {
                    $('#projects').empty();

                    aProject.ProjectName = $("#projectName").val();
                    aProject.ProjectRef = $("#projectRef").val();
                    aProject.ProjectDetails = CKEDITOR.instances['editor1'].getData();  //Set CKEditor value using jQuery
                    aProject.CreatedOn = $("#projectCreatedOn").val();

                    $.ajax({
                        type: "POST",
                        url: "/Dashboard/AddProjects",
                        data: JSON.stringify({ aProject }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (value) {
                            alert(value);

                            $('#myProjects').modal('hide');
                            GetProjectDetails();
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                } else {
                    alert("Please! Fill up all fields.");
                }
            }
        }).fail(function (e) {
            alert('Error');
        });
    });

    //Update project details here
    $('#updateData').click(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("SessionInfo", "Dashboard")"
        }).done(function (data) {
            if (data === true) {
                alert("Your session expired! Please login again.");
                window.location.href = "@Url.Action("Login", "Auth")";
            } else {
                var aProjectsHistory = {};

                var res = validate();
                if (res == true) {
                    $('#projects').empty();

                    //New update
                    aProjectsHistory.ProjectId = $("#projectId").val();
                    aProjectsHistory.ProjectName = $("#projectName").val();
                    aProjectsHistory.ProjectRef = $("#projectRef").val();
                    aProjectsHistory.ProjectDetails = CKEDITOR.instances['editor1'].getData();  //Set CKEditor value using jQuery
                    aProjectsHistory.PreCreatedOn = $("#projectCreatedOn").val();

                    //Previous data history
                    aProjectsHistory.PreProjectName = $("#preProjectName").text();
                    aProjectsHistory.PreProjectRef = $("#preProjectRef").text();
                    aProjectsHistory.PreProjectDetails = $("#preEditor1").text();  //Set CKEditor value using jQuery
                    aProjectsHistory.PreCreatedOn = $("#preProjectCreatedOn").text();
                    aProjectsHistory.PreCreatedBy = $('#createdBy').text();

                    if ($("#addStatus").prop('checked') == true) {
                        aProjectsHistory.Status = 1;
                        //aProjectItemHistory.PreStatus = 1;
                    } else {
                        aProjectsHistory.Status = 0;
                        //aProjectItemHistory.PreStatus = 0;
                    }

                    $.ajax({
                        type: "POST",
                        url: "/Dashboard/UpdateProjects",
                        data: JSON.stringify({ aProjectsHistory }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (value) {
                            alert(value);

                            $('#myProjects').modal('hide');
                            GetProjectDetails();
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                } else {
                    alert("Please! Fill up all fields.");
                }
            }
        }).fail(function (e) {
            alert('Error');
        });
    });

    //Get project details
    function GetProjectDetails() {
        var html = "";
        var status = "";
        var locked = "";

        $.ajax({
            url: "/Dashboard/GetProjects",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ id: null }),
            success: function (projects) {
                if (projects != null || projects != "") {

                    html += "<div class='table-responsive'>" +
                            "<table id='projectDetails' class='table table-bordered table-contextual'><thead>" +
                            "<tr><th> # </th><th>Id</th><th>Name</th><th>Details</th><th>Created On</th><th>History</th><th>Action</th><th>Item Details</th></tr></thead><tbody>";

                    $.each(projects, function (i, project) {
                        var num = parseInt(i) + 1;

                        //if (project.Status == 0) {
                        //    status = "<a class='editProjects' data-projectId='" + project.ProjectId + "'>Project Items</a>";
                        //    locked = "<a href='javascript:void(0);'>Edit</a>";
                        //} else {
                        status = "<a class='editProjects' data-projectId='" + project.ProjectId + "'>Project Items</a>";
                        locked = "<a class='editProject' data-projectId='" + project.ProjectId + "'>Edit</a>";
                        //}

                        html += "<tr><td>" + num + "</td>" +
                                "<td class='projectWithId'>" + project.ProjectId + "</td>" +
                                "<td>" + project.ProjectName + "</td>" +
                                "<td>" + project.ProjectDetails + "</td>" +
                                "<td>" + getFormattedDate(project.CreatedOn) + "</td><td class='alignText'><i class='mdi mdi-history projectHistory'></i></td><td>" + locked + "</td><td>" + status + "</td></tr>";
                    })

                    html += "</tbody></table></div>";
                }

                function getFormattedDate(date) {
                    var dt = new Date(parseInt(date.replace("/Date(", "").replace(")/", ""), 10))
                    var date = new Date(Date.parse(dt));

                    return ('0' + (date.getMonth() + 1)).slice(-2) + "/" + ('0' + date.getDate()).slice(-2) + "/" + date.getFullYear();
                }

                $("#projects").append(html);

                $('.editProjects').click(function () {
                    //Get project id
                    var projectId = $(this).attr("data-projectId");
                    var id = $(this).attr("id");

                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("SessionInfo", "Dashboard")"
                    }).done(function (data) {
                        if (data === true) {
                            alert("Your session expired! Please login again.");
                            window.location.href = "@Url.Action("Login", "Auth")";
                        } else {
                            //Load projects with id for editing
                            $("#result").html('');
                            $("#result").load('@Url.Action("LoadPartialViewWithId", "Dashboard")', { passVal: "editProjects", id: projectId });
                        }
                    }).fail(function (e) {
                        alert('Error');
                    });
                });

                //Update project details
                var id = "";
                $('.editProject').click(function () {
                    id = $(this).closest("tr").find(".projectWithId").text();

                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("SessionInfo", "Dashboard")"
                    }).done(function (data) {
                        if (data === true) {
                            alert("Your session expired! Please login again.");
                            window.location.href = "@Url.Action("Login", "Auth")";
                        } else {
                            $('.frmProjectId').show();

                            $.ajax({
                                url: "/Dashboard/GetProjects",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify({ id: id }),
                                success: function (projects) {
                                    if (projects != null || projects != "") {

                                        //alert(id);
                                        $("#projectId").prop("disabled", true);
                                        $('#projectId').val(id);

                                        //Initialize CKEditor by giving id of text area
                                        CKEDITOR.replace('editor1');

                                        //Get each instance of CKEditor
                                        for (instance in CKEDITOR.instances) {
                                            //update element
                                            CKEDITOR.instances[instance].updateElement();
                                        }

                                        //Set CKEditor value using jQuery
                                        $.each(projects, function (i, project) {
                                            $('#projectName').val(project.ProjectName);
                                            $('#projectRef').val(project.ProjectRef);
                                            CKEDITOR.instances['editor1'].setData(project.ProjectDetails);
                                            $('#projectCreatedOn').val(getFormattedDate(project.CreatedOn));
                                            $('#createdBy').text(project.CreatedBy);
                                            //$('#status').val(project.Status);

                                            $("#preProjectName").text(project.ProjectName);
                                            $("#preProjectRef").text(project.ProjectRef);
                                            $("#preEditor1").text(CKEDITOR.instances['editor1'].getData());  //Set CKEditor value using jQuery
                                            $("#preProjectCreatedOn").text(getFormattedDate(project.CreatedOn));

                                            if (project.Status == 1) {
                                                $('#addStatus').prop('checked', true);
                                            } else {
                                                $('#addStatus').prop('checked', false);
                                            }
                                        })

                                        $('#updateData').show();
                                        $('#addData').hide();
                                        $('#myProjects').modal('show');
                                        $('.hideThisStatus').show();
                                    }
                                },
                                error: function (er) {
                                    alert(er);
                                }
                            });
                        }
                    }).fail(function (e) {
                        alert('Error');
                    });
                });

                //Show update history
                $('.projectHistory').click(function () {
                    id = $(this).closest("tr").find(".projectWithId").text();

                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("SessionInfo", "Dashboard")"
                    }).done(function (data) {
                        if (data === true) {
                            alert("Your session expired! Please login again.");
                            window.location.href = "@Url.Action("Login", "Auth")";
                        } else {
                            $('#myProjectsHistory').modal('show');
                            $('#projectsHistory').empty();

                            var html = "";

                            $.ajax({
                                url: "/Dashboard/ShowProjectsHistory",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify({ projectId: id }),
                                success: function (projects) {
                                    if (projects != null || projects != "") {

                                        html += "<div class='table-responsive'>" +
                                                "<table id='projectHisDetails' class='table table-bordered'><thead>" +
                                                "<tr><th> # </th><th>Id</th><th>Name</th><th>Details</th><th>Created On</th><th>Updated On</th><th>Updated By</th></tr></thead><tbody>";

                                        $.each(projects, function (i, project) {
                                            var num = parseInt(i) + 1;

                                            html += "<tr><td>" + num + "</td>" +
                                                    "<td>" + project.ProjectId + "</td>" +
                                                    "<td>" + project.PreProjectName + "</td>" +
                                                    "<td>" + project.PreProjectDetails + "</td>" +
                                                    "<td>" + getFormattedDate(project.PreCreatedOn) + "</td>" +
                                                    "<td>" + getFormattedDate(project.UpdatedOn) + "</td>" +
                                                    "<td>" + project.PersonCreated + "</td>" +
                                                    "</tr>";
                                        })

                                        html += "</tbody></table></div>";
                                    }

                                    $("#projectsHistory").append(html);
                                },
                                error: function (er) {
                                    alert(er);
                                }
                            });
                        }
                    }).fail(function (e) {
                        alert('Error');
                    });
                });
            },
            error: function (er) {
                alert(er);
            }
        });
    }

    //Validation
    function validate() {
        //Initialize CKEditor by giving id of text area
        CKEDITOR.replace('editor1');

        //Get each instance of CKEditor
        for (instance in CKEDITOR.instances) {
            //update element
            CKEDITOR.instances[instance].updateElement();
        }

        var isValid = true;
        if ($('#projectName').val().trim() == "") {
            $('#projectName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#projectName').css('border-color', 'lightgrey');
        }
        if ($('#projectRef').val().trim() == "") {
            $('#projectRef').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#projectRef').css('border-color', 'lightgrey');
        }
        if (CKEDITOR.instances['editor1'].getData().trim() == "") {
            $('#editor1').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#editor1').css('border-color', 'lightgrey');
        }
        if ($('#projectCreatedOn').val().trim() == "") {
            $('#projectCreatedOn').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#projectCreatedOn').css('border-color', 'lightgrey');
        }

        return isValid;
    }

    function CheckSession() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("SessionInfo", "Dashboard")"
        }).done(function (data) {
            if (data === true) {
                alert("Your session expired! Please login again.");
                window.location.href = "@Url.Action("Login", "Auth")";
            }
        }).fail(function (e) {
            alert('Error');
        });
    }
</script>